<br>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Total de Cadastros </h3>
    <hr>
    <h4>Total de Apolices: <%=@apolices.count%></h4>
    <h4>Total de Aditivos: <%=@aditivos.count%></h4>
  </div>
</div>