<div class="panel panel-default" id="menu">
  <div class="panel-body">
     <a type="button" href="/home" class="btn btn-default">Home</a>
     <a type="button" href="/apolices" class="btn btn-default">Apólice</a>
     <a type="button" href="/aditivos" class="btn btn-default">Aditivos</a>
     <a type="button" href="/propostas" class="btn btn-default">Propostas</a>
  </div>
</div>